.login-container {
    background-image: url(https://i.pinimg.com/736x/38/b9/e0/38b9e05ac64787ec0268b400b59539ad.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .login-box {
    width: 350px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
  }

  h2 {
    color: #000;
    font-size: 24px;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  label {
    font-size: 14px;
    color: #333;
    text-align: left;
    display: block;
    font-weight: bold;
  }

  input {
    width: 90%;
    margin: 0 10px;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }

  input:focus {
    border-color: #000;
    outline: none;
  }

  .error-message {
    font-size: 14px;
    color: red;
    margin-top: 5px;
  }

  .submit-button {
    background-color: black;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.2s ease;
  }

  .submit-button:hover {
    background-color: #444;
    transform: scale(1.05);
  }

  .submit-button:active {
    transform: scale(0.95);
  }